.logup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logup-container{
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 20px;
    width: 60%;
    min-width: 700px;
    height: 70%;
    display: flex;
}
.logup-left{
    width: 65%;
    background-image: url('../../Docs/Formularios/logup.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2px;
    border-radius: 20px;
}
.logup-left-title{
    color: var(--color-azul-primario);
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    margin-top: 20px;
    font-family: cursive;
    letter-spacing: 2px;
}
.logup-rigth{
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: solid 2px #000;
}
.logup-rigth-title{
    color: #45818E;
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    font-size: 25px;
    height: 30%;
    display: flex;
    align-items: center;
}
.logup-input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 30%;
}
.logup-input{
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    border: solid 3px #000;
    padding-left: 5px;
    font-weight: 600;
    border-radius: 5px;
}
.logup-options{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.logup-text{
    font-family: cursive;
}
.logup-tologin{
    font-family: cursive;
    text-decoration: underline;
    color: var(--color-azul-primario);
    font-weight: 600;
}
.logup-link{
    width: 80%;
}
.logup-button{
    border: solid 3px #000;
    background-color: var(--color-azul-primario);
    color: #fff;
    font-weight: 700;
    width: 99%;
    height: 35px;
    font-family: cursive;
    box-shadow: 3px 3px #000;
    font-size: 100%;
    border-radius: 5px;
}
.logup-button:hover{
    cursor: pointer;
    background-color: #45818E;
}