.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000a;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-box{
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    height: 70%;
    width: 70%;
}
.modal-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #000;
}
.modal-imagen{
    position: relative;
    width: 100%;
    height: 84%;
}
.modal-links{
    width: 100%;
    height: 8%;
}
.modal-button{
    height: 100%;
    width: 100%;
    border-top: 3px solid #000;
    background-color: var(--color-azul-primario);
    color: #fff;
    font-family: cursive;
    font-weight: 700;
    font-size: medium;
}
.modal-button:hover{
    cursor: pointer;
    background-color: #fff;
    color: var(--color-azul-primario);
    border: var(--color-azul-primario) 3px solid;
}
.modal-rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.modal-close{
    background: none;
    border: none;
    width: 20;
    align-self: flex-end;
    margin: 10px;
}
.modal-close:hover{
    cursor: pointer;
}
.modal-title{
    text-align: center;
    font-family: cursive;
    font-weight: 700;
    font-size: 3vw;
}
.modal-desc{
    font-size: 20px;
    font-family: cursive;
    padding: 10px;
}
.modal-labels{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-family: cursive;
    font-weight: 600;
    font-size: 25px;
}
.modal-options{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.modal-data{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.modal-dataDetails{
    width: 15%;
    border: 2px solid #000;
    text-align: center;
    font-family: cursive;
    font-weight: 500;
}
.modal-noexist{
    width: 15%;
    border: 2px solid var(--color-disable);
    text-align: center;
    font-family: cursive;
    font-weight: 500;
    color: var(--color-disable);
}
.modal-buy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border-top: 3px solid #000;
}
.modal-buy-label{
    font-weight: 500;
    font-family: cursive;
    margin: 10px;
}
.modal-buy-input{
    width: 50px;
    padding-left: 5px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 10px;
}
.modal-buy-input2{
    width: 50px;
    padding-left: 5px;
    height: 30px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: none;
    border-right: none;
}
.modal-buy-inpbutton{
    height: 30px;
    width: 20px;
    border: 2px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.modal-buy-inpbutton2{
    height: 30px;
    width: 20px;
    border: 2px solid #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-buy-button{
    height: 40px;
    padding-inline: 10px;
    text-align: center;
    background-color: var(--color-verde-primario);
    color: #fff;
    font-family: cursive;
    font-weight: 600;
    border: 2px solid #000;
}
.modal-buy-button:hover{
    cursor: pointer;
    background-color: var(--color-verde-secundario);
    box-shadow: 5px 5px #000;
}