* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  background-image: url('../Docs/Formularios/fondo-tropical-colorido-degradado/9403212.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

:root{
  --color-azul-primario: #597EAA;
  --color-morado-primario: #674EA7;
  --color-rojo-secundario: #E06666;
  --color-rojo-primario: #CC0000;
  --color-verde-primario: #6AA84F;
  --color-verde-secundario: #00CC00;
  --color-disable: #c0c0c0;
}