.vt-card{
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    height: 250px;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
.vt-left{
    width: 250px;
    border-radius: 10px;
    height: 100%;
    position: relative;
}
.vt-rigth{
    width: 60%;
    height: 100%;
    padding: 20px;
}
.vt-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vt-title{
    font-weight: 600;
    font-family: cursive;
    font-size: 30px;
}
.ct-desc{
    font-family: cursive;
}
.vt-groupLabel{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.vt-label{
    font-family: cursive;
}
.vt-groupInfo{
    display: flex;
    width: 50%;
    justify-content: space-between;

}
.vt-text{
    font-family: cursive;
}
.vt-delete{
    height: 40px;
    width: 200px;
    align-self: center;
    background-color: var(--color-rojo-secundario);
    border: 2px solid #000;
    color: #fff;
    box-shadow: 2px 2px #000;
    cursor: pointer;
}

.vt-delete:hover{
    background-color: var(--color-rojo-primario);
}